@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url(./fonts/Caveat-VariableFont_wght.ttf) format("woff");
}

h1 {
  font-family: "Caveat", sans-serif;
}

.Body {
  margin: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}
